# Chauffly Rider App (dummy values)
# Copy to .env and replace with real values.

EXPO_PUBLIC_APP_NAME=Chauffly Rider
EXPO_PUBLIC_APP_ENV=development

EXPO_PUBLIC_API_BASE_URL=http://localhost:5000
EXPO_PUBLIC_API_PREFIX=/api/v1
EXPO_PUBLIC_SOCKET_BASE_URL=http://localhost:5000
EXPO_PUBLIC_SOCKET_PATH=/socket.io
EXPO_PUBLIC_REQUEST_TIMEOUT_MS=15000

EXPO_PUBLIC_ENABLE_API_LOGS=true
EXPO_PUBLIC_ENABLE_SOCKET_DEBUG=true

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDUMMY_GOOGLE_MAPS_KEY
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_dummy_paystack_public_key
